.background-image{
    /* aspect-ratio: 1 / 1; */
    background-repeat: no-repeat;
    /* background-size: 1080px; */
    height: 95vh;
    width: 100%;
    background-image: url("../../../assets/spider-man-bg.png");
}