<!-- Navgiation -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="deadpool-img" src="../../assets/deadpool-icon-png-6878-Windows.ico"></a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
  
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a [ngClass]="{'nav-item-if-active':currentSection=='Comicon'}" class="nav-link">Comicon</a>
          </li>
          <li class="nav-item">
            <a href="#Gallery" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="#About" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#WooshAnimations" class="nav-link">WooshAnimations</a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>

<!-- Home section -->
<div id="Comicon" #Comicon>
  <app-comicon></app-comicon>
</div>

<!-- Gallery Section -->
<div id="Gallery" #Gallery>
  <div class="background-image">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-4">
                
                  <a href="#ironManDialog" class="nav-link"><app-iron-man-float [imgSrc]="'../../../assets/iron-man-1.png'"></app-iron-man-float></a>
 
            </div>
            <div class="col-4">
                <app-spidey-float style="cursor:pointer" (click)="scrollToElement(spiderManDialog)" [imgSrc]="'../../../assets/sp-2.png'">
                </app-spidey-float>
            </div>
            <div class="col-4">
              <!-- <app-hulk-float style="cursor:pointer" [imgSrc]="'../../../assets/hulk-float.png'" > -->
                <app-hulk-float style="cursor:pointer" (click)="scrollToElement(hulkDialog)" [imgSrc]="'../../../assets/hulk-float.png'">
                </app-hulk-float>
            </div>  
        </div>
    </div>
</div>
  <app-gallery></app-gallery>
</div>

<!-- About Section -->
<div id="About" #About>
  <app-about></app-about>
</div>

<!-- Contact Section -->
<div id="WooshAnimations">
  <app-test></app-test>
</div>

<!-- Ironman Dialog -->
<div id="ironManDialog" #ironManDialog>
  <app-iron-man ></app-iron-man>
</div>

<!-- Spiderman Dialog -->
<div id="spiderManDialog" #spiderManDialog>
  <app-spider-man></app-spider-man>
</div>

<!-- Hulk Dialog -->
<div id="hulkDialog" #hulkDialog>
  <app-hulk-dialog *ngIf="hulkDialogBoolean"></app-hulk-dialog>
</div>