
<div class="landing"></div>
<div class="home-wrap">
    <div class="home-inner">
    </div>
</div>





<!-- 
<div class="offset">
    <div class="fixed-background">
        <div class="container">
            <div class="row dark text-center"> 

                <div class="col-4">
                    <app-iron-man-float [imgSrc]="'../../../assets/iron-man-1.png'">
                    </app-iron-man-float>
                </div>

                <div class="col-4">
                    <app-spidey-float [imgSrc]="'../../../assets/sp-2.png'">
                    </app-spidey-float>
                </div>

                <div class="col-4">
                    <app-hulk-float style="cursor:pointer" (click)="openDialog()" (click)="showHulkDialog(true)" [imgSrc]="'../../../assets/hulk-3.png'">
                    </app-hulk-float>
                </div>  

                <div class="fixed-wrap">
                    <div class="fixed">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="background-image">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-4">
                <app-iron-man-float [imgSrc]="'../../../assets/iron-man-1.png'">
                </app-iron-man-float>
            </div>
            <div class="col-4">
                <app-spidey-float [imgSrc]="'../../../assets/sp-2.png'">
                </app-spidey-float>
            </div>
            <div class="col-4">
                <app-hulk-float style="cursor:pointer" (click)="openDialog()" (click)="showHulkDialog(true)" [imgSrc]="'../../../assets/hulk-3.png'">
                </app-hulk-float>
            </div>  
        </div>
    </div>
</div> -->



<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <app-floating-avatar [imgSrc]="'https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/skytsunami.png'">
            </app-floating-avatar>
        </div>
    </div>
</div> -->


<!-- <app-floating-avatar [imgSrc]="'https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/skytsunami.png'">
</app-floating-avatar> -->
