<div class="background-image text-center">
    <!-- <app-floating-avatar [imgSrc]="'../../../assets/hulk-3.png'">
    </app-floating-avatar> -->
    <div class="container">
      <div class="wrapper text-center">
        <div class="news-item hero-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <!-- <div class="news-item standard-item">
        </div> -->
      </div>
    </div>
</div>