<div class="background-image text-center">
      <div class="wrapper text-center">
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
       <div class="news-item standard-item">
        </div>
        <div class="news-item standard-item">
        </div>
      </div>
</div>